<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="div-close-modal">
      <button class="btn-close-modal" data-modal-close>
        <svg class="svg-close" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-cross" class="use-close"></use>
        </svg>
      </button>
    </div>
    <div class="img-and-description">

      
    </div>
    <div class="div-btn-modal">
      <button class="btn-modal btn-modal-add-js" type="submit">ADD TO SHOPPING-LIST</button>
    </div>
    <p class="under-modal-btn-text visually-hidden">
      Сongratulations! You have added the book to the shopping list.
      To delete, press the button “Remove from the shopping list”.
    </p>
  </div>
</div>