<div class="backdrop is-hidden" data-modal>
  <div class="modal is-hidden-style">
    <div class="div-close-modal">
      <button class="btn-close-modal" data-modal-close>
        <svg class="svg-close" height="12" width="12">
          <use href="./img/symbol-defs.svg#icon-cross" class="use-close"></use>
        </svg>
      </button>
    </div>
    <div class="img-and-description">
      <!-- <img class="img-modal" src="" alt="" />
      <div class="div-text-modal">
        <h1 class="item-modal">HELLO BEAUTIFUL</h1>
        <h3 class="autor-name-modal">Ann Napolitano</h3>
        <p class="description-modal">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
        <ul class="ul-modal">
          <li class="li-modal"><a href="" class="amazon-modal"></a></li>
          <li class="li-modal"><a href="" class="book-modal"></a></li>
          <li class="li-modal"><a href="" class="books-modal"></a></li>
        </ul>
      </div> -->
    </div>
    <div class="div-btn-modal">
      <button class="btn-modal btn-modal-add-js" type="submit">ADD TO SHOPPING-LIST</button>
    </div>
    <p class="under-modal-btn-text visually-hidden">
      Сongratulations! You have added the book to the shopping list.<br>
      To delete, press the button “Remove from the shopping list”.
    </p>
  </div>
</div>