.category_button {
  font-weight: 400;
  line-height: 1.12;
  text-transform: none;
  color: var(--color-of-category-text);
}

.category_all {
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--color-of-categoryAll-text);
}

.bestsellers-area {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin: 0 auto;
}

.bestsellers-main-title {
  margin-bottom: 40px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: var(--color-of-h2-category);
}

.bestsellers-main-title-books-blue-text {
  color: #4f2ee8;
}

.bestsellers-list {
  display: flex;
  flex-direction: column;
}

.bestsellers-list-item {
  display: flex;
  flex-direction: column;
  width: 335px;
}

.bestsellers-general-category {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
  margin-bottom: 18px;
}

.bestsellers-book-item {
  display: flex;
  flex-direction: column;
  height: 535px;
  margin-bottom: 8px;
}

.bestsellers-book-item:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.38);
}

.bestsellers-book-cover {
  border-radius: 8px;
  /* width: 335px; */
  height: 485px;
  /* margin-bottom: 14px; */
}

.bestsellers-book-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-of-h2-category);
  margin-bottom: 4px;
  margin-top: 14px;
}

.bestsellers-book-author {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #b4afaf;
  margin-bottom: 8px;
}

.bestsellers-button {
  width: 124px;
  height: 46px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  margin-bottom: 40px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-of-h2-category);
  background-color: var(--main-bg-color);
  align-self: end;
  transition-property: transform;
  transition-duration: 500ms;
}

.bestsellers-button:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .bestsellers-area {
    width: 768px;
  }

  .bestsellers-main-title {
    font-size: 48px;
    line-height: 52px;
  }

  .bestsellers-general-category {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #b4afaf;
    margin-bottom: 18px;
  }

  .bestsellers-book-list {
    display: inline-flex;
  }

  .bestsellers-list-item {
    width: 704px;
  }

  .bestsellers-book-item {
    width: 218px;
    height: 366px;
    margin-bottom: 20px;
  }

  .bestsellers-book-item:not(:last-child) {
    margin-right: 25px;
  }

  .bestsellers-book-cover {
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .bestsellers-area {
    width: 996px;
    padding: 0;
    margin-top: 110px;
  }

  .bestsellers-list-item {
    width: 996px;
  }

  .bestsellers-main-title {
    font-size: 48px;
    line-height: 52px;
  }

  .bestsellers-general-category {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #b4afaf;
    margin-bottom: 18px;
  }

  .bestsellers-book-item {
    width: 180px;
    height: 306px;
    margin-bottom: 24px;
  }

  .bestsellers-book-cover {
    width: 180px;
    height: 256px;
  }

}



@media screen and (min-width: 1440px) {
  .test-wraper {
    overflow: hidden;
    position: relative;

  }

  .test-wraper::before {
    pointer-events: none;
  }

  .bestsellers-book-item:hover .test-wraper::before {
    transform: translateY(0);
  }

  .test-wraper::before {
    content: 'QUICK VIEW';
    position: absolute;
    left: 0px;
    top: 186px;
    z-index: 5;
    width: 179px;
    height: 70px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.285;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111;
    background: #eac645;
    border-radius: 0px 0px 8px 8px;
    padding: 26px 50px;

    transform: translateY(100%);
    transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}