:root {
  --main-bg-color: #ffffff;
  --header-bg-color: #ffffff;
  --header-border-color: #111111;
  --header-text-color: #111111;
  --header-logo-color: #000000;
  --first-titles-color: #111111;
  --second-titles-color: #4f2ee8;
  --first-text-color: #000000;
  --first-button-color: #ffffff;
  --second-button-color: #4f2ee8;
  --border-button-color: #111111;
  --text-button-color1: #111111;
  --text-button-color2: #ffffff;
  --menu-text-color1: #111111;
  --link-color1: #111111;
  --header-burger-icon: url('../img/burger-icon-light.svg');
  --header-close-icon: url('../img/close-icon-light.svg');
  --trans-speed-2: 0.2s ease;
  --trans-speed-3: 0.3s ease;
  --trans-speed-4: 0.4s ease;
  --trans-speed-5: 0.5s ease;
  --trans-speed-8: 0.8s ease;
}
@media (prefers-color-scheme: dark) {
  :root:not([theme='light']) {
    --main-bg-color: #202024;
    --header-bg-color: #111111;
    --header-border-color: #ffffff;
    --header-text-color: #ffffff;
    --header-logo-color: #ffffff;
    --first-titles-color: #ffffff;
    --second-titles-color: #4f2ee8;
    --first-text-color: #ffffff;
    --link-color1: #ffffff;
    --header-burger-icon: url('../img/burger-icon-dark.svg');
    --header-close-icon: url('../img/close-icon-dark.svg');
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg-color);
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 64px;
  background-color: var(--header-bg-color);
  /* border: 1.5px solid var(--header-border-color);
  border-radius: 0 0 8px 8px; */
}
.header__logo {
  fill: var(--header-logo-color);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
  width: 109px;
  height: 28px;
}
.btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* Swith checkbox start */
.switch-color-theme__icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 14px;
}
.switch-color-theme__icon input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.switch-slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: var(--trans-speed-4);
}
input:checked + .switch-slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}
input:checked + .switch-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* Swith checkbox end */
.open-mobile-menu-btn {
  width: 28px;
  height: 28px;
  border: none;
  background: none;
  padding: 0;
}
.open-mobile-menu-btn.icon-burger {
  background: var(--header-burger-icon) no-repeat center center;
}
.open-mobile-menu-btn.icon-close {
  background: var(--header-close-icon) no-repeat center center;
}
/* mobile menu start */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: #4f2ee8;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform var(--trans-speed-5);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }
}
.mobile-menu-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  margin-top: 64px;
  padding: 20px;
  overflow: hidden;
  clip-path: inset(0);
}
.mobile-elements-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 100%;
  z-index: 10;
}
.user-profile-info {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.31;
  color: #ffffff;
}
.user-profile-info .user-profile-avatar {
  display: block;
  margin-right: 9px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: url(../img/avatar-01.png) no-repeat center center;
}
.main-menu-mobile-list {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 126px;
  list-style-type: none;
}
.main-menu-mobile-list li:not(li:last-child) {
  margin-bottom: 8px;
}
.main-menu-mobile-list__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 36px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: var(--trans-speed-3);
}
.main-menu-mobile-list__icon-bag {
  width: 14px;
  height: 17px;
  margin-left: 7px;
  fill: #ffffff;
  transition: var(--trans-speed-3);
}
.main-menu-mobile-list__link:active,
.main-menu-mobile-list__link:hover {
  text-shadow: none;
  font-weight: 700;
  background-color: #eac645;
  color: #111111;
}
.main-menu-mobile-list__link:active .main-menu-mobile-list__icon-bag,
.main-menu-mobile-list__link:hover .main-menu-mobile-list__icon-bag {
  fill: #111111;
}
.current {
  background-color: #eac645;
  color: #111111;
  text-shadow: none;
}
.current .main-menu-mobile-list__icon-bag {
  fill: #111111;
}

.log-out-button {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  color: var(--text-button-color1);
  background-color: var(--first-button-color);
  border: 1.5px solid var(--border-button-color);
  border-radius: 18px;
  transition: var(--trans-speed-3);
}
.log-out-button:hover,
.log-out-button:focus {
  color: var(--text-button-color2);
  background-color: var(--second-button-color);
}
.log-out-button .log-out-sign-up-button__icon {
  width: 13px;
  height: 10px;
  margin-left: 4px;
}
.log-out-button:hover .log-out-sign-up-button__icon {
  animation: bounce2 2s ease;
}
.sing-up-button {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  color: var(--text-button-color2);
  background-color: var(--second-button-color);
  border: 1.5px solid var(--border-button-color);
  border-radius: 18px;
  transition: var(--trans-speed-3);
}
.sing-up-button:hover,
.sing-up-button:focus {
  color: var(--text-button-color1);
  background-color: var(--first-button-color);
}
.sing-up-button .log-out-sign-up-button__icon {
  width: 13px;
  height: 10px;
  margin-left: 94px;
}
.sing-up-button:hover .log-out-sign-up-button__icon {
  animation: bounce2 2s ease;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(20px);
  }
  60% {
    transform: translateX(10px);
  }
}
.background-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 9;
  bottom: -100px;
  right: -55px;
  transform: rotate(-15deg) scale(1.15);
}
.background-books__row1,
.background-books__row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateX(-100%);
  transition: var(--trans-speed-8);

  &.roll-left-open {
    transform: translateX(0);
  }
}
.background-books__row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateX(100%);
  transition: var(--trans-speed-8);

  &.roll-right-open {
    transform: translateX(0);
  }
}
.background-books__row1 li {
  width: calc((100% - 3 * 34px) / 4);
  aspect-ratio: 2/3;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 34px;
}
.background-books__row2 li {
  width: calc((100% - 3 * 34px) / 4);
  aspect-ratio: 2/3;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 34px;
}
.background-books__row3 li {
  width: calc((100% - 3 * 34px) / 4);
  aspect-ratio: 2/3;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 34px;
}
.background-books__row1 li:not(.background-books__row1 li:last-child) {
  margin-right: 34px;
}
.background-books__row2 li:not(.background-books__row2 li:last-child) {
  margin-right: 34px;
}
.background-books__row3 li:not(.background-books__row3 li:last-child) {
  margin-right: 34px;
}
.background-books__row1 li:nth-child(1) {
  background: url(../img/book-bg-01.png) no-repeat center center;
  background-size: cover;
}
.background-books__row1 li:nth-child(2) {
  background: url(../img/book-bg-02.png) no-repeat center center;
  background-size: cover;
}
.background-books__row1 li:nth-child(3) {
  background: url(../img/book-bg-03.png) no-repeat center center;
  background-size: cover;
}
.background-books__row1 li:nth-child(4) {
  background: url(../img/book-bg-04.png) no-repeat center center;
  background-size: cover;
}
.background-books__row2 li:nth-child(1) {
  background: url(../img/book-bg-05.png) no-repeat center center;
  background-size: cover;
}
.background-books__row2 li:nth-child(2) {
  background: url(../img/book-bg-06.png) no-repeat center center;
  background-size: cover;
}
.background-books__row2 li:nth-child(3) {
  background: url(../img/book-bg-07.png) no-repeat center center;
  background-size: cover;
}
.background-books__row2 li:nth-child(4) {
  background: url(../img/book-bg-08.png) no-repeat center center;
  background-size: cover;
}
.background-books__row3 li:nth-child(1) {
  background: url(../img/book-bg-09.png) no-repeat center center;
  background-size: cover;
}
.background-books__row3 li:nth-child(2) {
  background: url(../img/book-bg-10.png) no-repeat center center;
  background-size: cover;
}
.background-books__row3 li:nth-child(3) {
  background: url(../img/book-bg-11.png) no-repeat center center;
  background-size: cover;
}
.background-books__row3 li:nth-child(4) {
  background: url(../img/book-bg-12.png) no-repeat center center;
  background-size: cover;
}

.empty-shopping-list {
  width: 100%;
  height: calc(100vh - 64px);
  margin-top: 64px;
  padding-top: 40px;
}
.empty-shopping-list__title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--first-titles-color);
}
.empty-shopping-list__span {
  color: var(--second-titles-color);
}

.empty-shopping-list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
}
.empty-shopping-list__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: -0.02em;
  opacity: 60%;
  color: var(--first-text-color);
}

@media screen and (max-width: 375px) {
  .main-menu-tablet-list {
    display: none;
  }
  .user-profile-info-header {
    display: none;
  }
  .sing-up-button-header {
    display: none;
  }
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin: 0 auto;
    padding: 0 20px;

  }
  .main-menu-tablet-list {
    display: none;
  }
  .user-profile-info-header {
    display: none;
  }
  .sing-up-button-header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 72px;
  }
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .main-menu-tablet-list {
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: row;
    list-style-type: none;
    flex-grow: 1;
    margin-left: 40px;
  }
  .main-menu-tablet-list__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: var(--link-color1);
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 36px;
    transition: var(--trans-speed-3);
  }
  .main-menu-tablet-list__icon-bag {
    width: 14px;
    height: 17px;
    margin-left: 7px;
    fill: #111111;
    transition: var(--trans-speed-3);
  }
  .main-menu-tablet-list__link:active,
  .main-menu-tablet-list__link:hover {
    text-shadow: none;
    font-weight: 700;
    background-color: #eac645;
    color: #111111;
  }
  .main-menu-tablet-list__link:active .main-menu-tablet-list__icon-bag,
  .main-menu-tablet-list__link:hover .main-menu-tablet-list__icon-bag {
    fill: #111111;
  }
  .main-menu-tablet-list li:not(li:last-child) {
    margin-right: 8px;
  }
  .current {
    background-color: #eac645;
    color: #111111;
  }
  .current .main-menu-tablet-list__icon-bag {
    fill: #111111;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .user-profile-info-header {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.31;
    letter-spacing: -0.04em;
    color: #ffffff;
    background-color: #4f2ee8;
    border-radius: 36px;
    padding: 4px 12px;
  }
  .user-profile-info-header .user-profile-avatar-header {
    display: block;
    margin-right: 9px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: url(../img/avatar-01.png) no-repeat center center;
  }
  .user-profile__icon-arrow-bottom {
    width: 15px;
    height: 8px;
    margin-left: 8px;
    fill: #ffffff;
    transition: var(--trans-speed-3);
  }
  .user-profile-info-header:active .user-profile__icon-arrow-bottom,
  .user-profile-info-header:hover .user-profile__icon-arrow-bottom {
    animation: roll-out1 0.7s ease-in-out;
  }
  @keyframes roll-out1 {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    50% {
      opacity: 0;
      transform: translateY(100%);
    }
    51% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .sing-up-button-header {
    display: flex;
    align-items: center;
    padding: 15px 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    color: var(--text-button-color2);
    background-color: var(--second-button-color);
    border: 1.5px solid var(--border-button-color);
    border-radius: 18px;
    transition: var(--trans-speed-3);
  }
  .sing-up-button-header:hover,
  .sing-up-button-header:focus {
    color: var(--text-button-color1);
    background-color: var(--first-button-color);
  }
  .sing-up-button-header .log-out-sign-up-button__icon {
    width: 13px;
    height: 10px;
    margin-left: 93px;
  }
  .sing-up-button-header:hover .log-out-sign-up-button__icon {
    animation: bounce3 2s ease;
  }
  @keyframes bounce3 {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(12px);
    }
    60% {
      transform: translateX(10px);
    }
  }
  .switch-color-theme__icon {
    margin-right: 24px;
  }
  .empty-shopping-list__title {
    font-size: 48px;
    line-height: 1.08;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
  }
  .main-menu-tablet-list {
    margin-left: 76px;
  }
}

.containers {
  border: 1.5px solid var(--header-border-color);
  border-radius: 0 0 8px 8px
}
