.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.4);
  overflow: hidden;
}



.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 335px;
  border: 2px solid var(--first-text-color);
  border-radius: 18px;
  background: var(--main-bg-color);
  transform: translate(-50%, -50%);
  padding: 40px 24px;
}

.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.btn-close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: #111;
  border: none;
  padding: 0;
  cursor: pointer;
}

.img-modal {
  width: 287px;
  height: 408px;
  object-fit: cover;
  margin-bottom: 14px;
  border-radius: 8px;
}

.item-modal {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--header-text-color);
  margin-bottom: 4px;
}

.autor-name-modal {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #B4AFAF;
  margin-bottom: 18px;
}

.ul-modal {
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  display: flex;
}

.li-modal {
  display: flex;
  align-items: center;
  mix-blend-mode: luminosity;
}

.li-modal.amazon-modal-books {
  filter: var(--color-amazon);
}


.amazon-modal {
  display: flex;
  align-items: center;
  width: 62px;
  height: 36px;
}

.amazon-modal::before {
  content: '';
  display: block;
  background-image: url(../img/modal-amazon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.book-modal {
  width: 33px;
  height: 32px;
}

.book-modal::before {
  content: '';
  display: block;
  background-image: url(../img/modal-book.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 33px;
  height: 32px;
}

.books-modal {
  width: 38px;
  height: 36px;
}

.books-modal::before {
  content: '';
  display: block;
  background-image: url(../img/modal-books.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 36px;
}

@media screen and (min-width: 375px) {
  .modal {
    width: 335px;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    max-height: calc(100% - 40px);
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 579px;
    min-height: 465px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .btn-close-modal {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }

  .img-and-description {
    gap: 24px;
    margin-bottom: 40px;
    display: flex;
  }

  .img-modal {
    width: 192px;
    height: 281px;
    margin: 0;
  }

  .item-modal {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  .autor-name-modal {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .div-text-modal {
    width: 280px;
  }
}

.description-modal {
  max-width: 287px;
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 18px;
  color: var(--header-text-color);
  margin-bottom: 14px;
}

.btn-modal {
  font-family: 'DM Sans';
  font-weight: 700;
  background-color: transparent;
  text-align: center;
  letter-spacing: -.01em;
  text-transform: uppercase;
  color: var(--header-text-color);
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 28px;
  font-size: 14px;
  line-height: 1.28571;
  margin-bottom: 8px;
  padding-left: 23px;
  padding-right: 23px;
  display: block;
}

.btn-modal-add-js.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.under-modal-btn-text {
  max-width: 242px;
  font-family: 'DM Sans';
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--text-color-add-remove);
  text-align: center;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

.under-modal-btn-text.visually-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .description-modal {
    margin-bottom: 20px;
  }

  .btn-modal {
    width: 100%;
    padding: 20px 0;
  }

  .under-modal-btn-text {
    max-width: 324px;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
  }
}