:root {
  --black-color-for-text: #111111;
  --purple-color-for-text: #4f2ee8;
  --black-color-with-60percentage: rgba(0, 0, 0, 0.6);
  --gray-color-for-text: #b4afaf;

  --purple-color-with-40percentage-for-border: rgba(79, 46, 232, 0.4);
  --white-color-for-block: #ffffff;
  --color-for-bg: #d0d0d0;

  --yellow-color-for-pagination: #eac645;
}


.visually-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.container-shop {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-bottom: 40px;
}

.container-shop .main-tag {
  font-family: 'DM Sans';

  font-weight: 700;
  font-size: 32px;
  line-height: 119%;

  letter-spacing: -0.04em;

  color: var(--color-of-h2-category);

  margin-top: 104px;
}

.main-tag span {
  color: var(--purple-color-for-text);
}

.container-shop .shop-list-title {
  font-family: 'DM Sans';

  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;

  color: var(--color-of-category-text);

  width: 244px;
  text-align: center;

  margin-top: 120px;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
}

.div-shoping-cards {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  min-width: 335px;
}

.shop-list-start-img {
  margin-left: auto;
  margin-right: auto;
}

.amazon {
  width: 32px;
  height: 11px;
}

.shop-list-start-img {
  width: 265px;
  height: 198px;
}

.container-shop-gallery {
  margin-top: 40px;
}

/* -------------------------------- */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  background-color: transparent;
  border-radius: 50%;
  color: var(--black-color-for-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  z-index: 0;
  border: 1px solid var(--black-color-for-text);
}

.pagination-button:hover {
  background-color: var(--black-color-for-text);
  color: var(--white-color-for-block);
  border-radius: 50%;
}

.arrow-left,
.arrow-right {
  display: flex;

  background-position: 50%;
  background-repeat: no-repeat;
}

.arrow-left {
  background-color: var(--black-color-for-text);
}

.arrow-right {
  background-color: var(--yellow-color-for-pagination);
}

.arrow-left:hover,
.arrow-right:hover {
  fill: var(--white-color-for-block);
}

.ul-shopping {
  display: flex;
  align-self: start;
  margin-bottom: 40px;
}

.li-shopping {
  display: flex;
  align-items: center;
}

.li-shopping:not(:last-child) {
  margin-right: 20px;
}

.amazon-shopping {
  display: flex;
  align-items: center;
  width: 62px;
  height: 36px;
}

.amazon-shopping::before {
  content: '';
  display: block;
  background-image: url(../img/modal-amazon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.book-shopping {
  width: 33px;
  height: 32px;
}

.book-shopping::before {
  content: '';
  display: block;
  background-image: url(../img/modal-book.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 33px;
  height: 32px;
}

.books-shopping {
  width: 38px;
  height: 36px;
}

.books-shopping::before {
  content: '';
  display: block;
  background-image: url(../img/modal-books.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 36px;
}

@media screen and (max-width: 468px) {

  .li-shopping:not(:last-child) {
    margin-right: 8px;
  }

  .amazon-shopping {
    display: flex;
    align-items: center;
    width: 32px;
    height: 11px;
  }

  .amazon-shopping::before {
    content: '';
    display: block;
    background-image: url(../img/modal-amazon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .book-shopping {
    width: 16px;
    height: 16px;
  }

  .book-shopping::before {
    content: '';
    display: block;
    background-image: url(../img/modal-book.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }

  .books-shopping {
    width: 16px;
    height: 16px;
  }

  .books-shopping::before {
    content: '';
    display: block;
    background-image: url(../img/modal-books.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 1439px) {
  .div-sprt-p3 {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .div-support-shoping {
    display: flex;
    flex-direction: row;
  }

  .div-sprt-p3 {
    margin-top: 120px;
  }

  .container-shopping-list {
    display: flex;
    flex-direction: row;
  }
}

/* -------Book------------- */
.container-shop {
  margin: 0 auto;
  padding: 0;
}

.gallery__item {
  position: relative;

  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  /* max-width: 335px; */
  height: 170px;
}

.basket-button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--purple-color-for-text);
  border: var(--purple-color-for-text);
  cursor: pointer;
}

.basket-button>svg {
  width: 16px;
  height: 16px;
  fill: #d0d0d0;
}

.title-book-cover {
  display: flex;
  width: 100px;
}

.shopping-book-cover {
  max-width: 100%;
  display: block;
  /* border: 2px dashed tomato; */
}

.gallery-lib {
  display: flex;
  flex-direction: column;
}

.gallery__item {
  display: flex;
  padding: 14px;
  font-family: 'DM Sans';
  margin-bottom: 20px;
}

.gallery__wrap {
  margin-left: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__wrap>.shop-wrap {
  flex-grow: 1;
}

/* .gallery__item + .gallery__item {
  margin-top: 20px;
} */

.name-book {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--header-text-color);
  margin-bottom: 4px;
}

.category-book {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--gray-color-for-text);

  margin-bottom: 8px;
}

.basic-description-book {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;

  color: var(--color-of-h2-category);

  /* width: 193px; */
  height: 53px;
  overflow: hidden;
  /* margin-bottom: 10px; */
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .div-shoping-cards {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 768px;
  }
}

@media screen and (max-width: 1439px) {
  .basic-description-book:hover {
    transform: scale(1);
    /* transform: translateY(-30%); */
    height: 100%;
    overflow-block: visible;
    background-color: var(--white-color-for-block);
  }
}

.gallery__wrap>.shop-meta {
  margin-top: 16px;
  /* margin-bottom: 14px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.partner+.partner {
  margin-left: 8px;
}

.autor-book {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;

  color: var(--gray-color-for-text);
}

.customers-list {
  display: flex;
  flex-direction: row;
  /* border: 2px dashed tomato; */
}

@media screen and (min-width: 768px) {
  .gallery__item {
    padding: 24px;
    width: 704px;
    height: 213px;
  }

  .basket-button {
    width: 34px;
    height: 34px;
  }

  .basket-button>svg {
    width: 18px;
    height: 18px;
  }

  .title-book-cover {
    width: 116px;
  }

  .partner+.partner {
    margin-left: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .div-support-shoping {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .container-shop {
    margin-left: 40px;
    /* margin-top: 115px; */
  }

  .gallery__item {
    width: 996px;
  }

  .div-shoping-cards {
    width: 996px;
  }
}