/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./scoll-up.css');
@import url('https://fonts.cdnfonts.com/css/dm-sans');

:root {
  --dark: #111111;
  --ligthDark: #202024;
  --violet: #4f2ee8;
  --yellow: #eac645;
}

body {
  margin: auto;
  padding: 0;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  min-width: 320px;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  scroll-behavior: smooth;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  width: 100%;
}

.index-category-support {
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .index-category-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .index {
    display: flex;
    flex-direction: column;
  }

  .index-category-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .index-category-support {
    display: flex;
    padding: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .index-category-support {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .index-bestsellers-div {
    display: flex;
    justify-content: center;
  }

  .index-category-support {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 335px;
    margin-left: 0;
    margin-right: auto;
  }
}
