/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./scoll-up.css');
@import url('https://fonts.cdnfonts.com/css/dm-sans');

:root {
  --main-bg-color: #ffffff;
  --header-bg-color: #ffffff;
  --header-border-color: #111111;
  --header-text-color: #111111;
  --header-logo-color: #000000;
  --first-titles-color: #111111;
  --second-titles-color: #4f2ee8;
  --first-text-color: #000000;
  --first-button-color: #ffffff;
  --second-button-color: #4f2ee8;
  --border-button-color: #111111;
  --text-button-color1: #111111;
  --text-button-color2: #ffffff;
  --menu-text-color1: #111111;
  --link-color1: #111111;
  --header-burger-icon: url('../img/burger-icon-light.svg');
  --header-close-icon: url('../img/close-icon-light.svg');
  --trans-speed-2: 0.2s ease;
  --trans-speed-3: 0.3s ease;
  --trans-speed-4: 0.4s ease;
  --trans-speed-5: 0.5s ease;
  --trans-speed-8: 0.8s ease;
  --main-bg-color: #ffffff;
  --header-bg-color: #ffffff;
  --color-of-categoryAll-text: #4f2ee8;
  --color-of-category-text: rgba(17, 17, 17, 0.6);
  --color-of-h2-category: #111111;
  --color-for-btn-auth-modal-text: #F3F3F3;
  --color-for-btn-auth-modal: #111111;
  --icon-close: #111111;
  --color-btn-uo-in: rgba(17, 17, 17, 0.5);
  --color-btn-sit-up: #4F2EE8;
  --color-btn-profile: #4F2EE8;
  --color-email-password: #111111;
  --color-suooort-ua: #4F2EE8;
  --color-suooort-ua-white: #FFFFFF;
  --text-color-add-remove: rgba(17, 17, 17, 0.5);
  ;
}

:root[theme='dark'],
:root:not([theme]) {
  --main-bg-color: #202024;
  --header-bg-color: #111111;
  --header-border-color: #ffffff;
  --header-text-color: #ffffff;
  --header-logo-color: #ffffff;
  --first-titles-color: #ffffff;
  --second-titles-color: #4f2ee8;
  --first-text-color: #ffffff;
  --link-color1: #ffffff;
  --header-burger-icon: url('../img/burger-icon-dark.svg');
  --header-close-icon: url('../img/close-icon-dark.svg');
  --main-bg-color: #202024;
  --header-bg-color: #111111;
  --color-of-categoryAll-text: #eac645;
  --color-of-category-text: rgba(255, 255, 255, 0.6);
  --color-of-h2-category: #ffffff;
  --color-for-btn-auth-modal-text: #111111;
  --color-for-btn-auth-modal: #F3F3F3;
  --icon-close: #F6F6F6;
  --color-btn-uo-in: rgba(246, 246, 246, 0.5);
  --color-btn-sit-up: #202024;
  --color-btn-profile: #4F2EE8;
  --color-email-password: #F6F6F6;
  --color-suooort-ua: #4e34c8;
  --color-suooort-ua-white: #5f5555;
  --text-color-add-remove: rgba(255, 255, 255, 0.5);
}

body {
  margin: auto;
  padding: 0;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  min-width: 320px;
  background-color: var(--main-bg-color);
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  scroll-behavior: smooth;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  width: 100%;
}

.index-category-support {
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
}

.div-support-shoping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .index-category-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .index {
    display: flex;
    flex-direction: column;
  }

  .index-category-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .index-category-support {
    display: flex;
    padding: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .index-category-support {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .index-bestsellers-div {
    display: flex;
    justify-content: center;
  }

  .index-category-support {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 335px;
    margin-left: 0;
    margin-right: auto;
  }
}